.container{
    text-align: center;
}
canvas{
    width: 1000px;
    height: 800px;
    border: solid;
    border-color: red;
    background-color: peachpuff;
}
img{
    width: 25px;
    height: 25px
}
#ghost{
    width: 25px;
    height: 25px
}

.hidden{
    display: none
}