.container{
    text-align: center;
}
canvas{
    width: 1000px;
    height: 800px;
    border: solid;
    border-color: red;
    background-image: url("assets/woodfloor.png");
}
img{
    width: 25px;
    height: 25px
}
#ghost{
    width: 25px;
    height: 25px
}
.title{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#instructions{
    text-align: center;
    margin-left:200px;
    margin-right:200px;
    color: white;
}
body{
    background-color: black;
}
#win{
    color: white;
}
#lose{
    color:white;
}
.ghostbuster{
    width: 500px;
    height: 300px;
}.win{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.hidden{
    display: none
}